body {
  background-color: #2d6dfc;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.perfil-container {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.subtitulo {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.botoes button {
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 200px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoes button:hover {
  background-color: #f1f1f1;
  transform: scale(1.25);
}
